@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html {
  color: #000000;
  height: 100%;
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  overflow-x: hidden; }
  
body {
  min-height: 100%;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:focus {
    outline: none; }

h1{
	font-family: Gilroy, Open Sans, Noto Sans, sans-serif;
 	color: #018fd3;
 	font-size: 2em;
   margin: 0.67em 0;
   font-weight: 600;
}

h2{
	font-family: Gilroy, Open Sans, Noto Sans, sans-serif;
 	color: #018fd3;
 	font-size: 1.75em;
   margin: 0.5em 0;
  font-weight: 600;
}

p 
{ font-family: "Gilroy"; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 23px; }

.navbar-inverse {
  font-family: Gilroy, Open Sans, Arial, sans-serif;
  color: #000000;
}

.navbar-brand {
  font-weight: 500;
  font-family: Gilroy, Open Sans, Arial, sans-serif;
  color: #000000;
  background-color:#ffffff;
}

.navbar-collapse {
  color: #000000;
  font-weight: 500;
  font-family: Gilroy, Open Sans, Arial, sans-serif;
  background-color:#ffffff;
}

.navbar {
  color: #000000 !important;
  font-weight: 500;
  font-family: Gilroy, PT Sans, Noto Sans, sans-serif;
  background-color:#ffffff;
  font-size: 1.2em;
}

.navbar-default .navbar-nav>.active> a, 
.navbar-default .navbar-nav>.active> a:focus, 
.navbar-default .navbar-nav>.active> a:hover {
  background: #ffffff; /* Anything you want */
  background-color:#ffffff;
}
#li.list-group-item.active {
	font-family: "Gilroy";
	background-color:#018fd3 !important;
	font-weight: 600;
}

.navbar-nav li a {
    color: #000000 !important;
}

.nav-item:hover {
  background-color:#ffffff;
}



